In [ ]:
# renderizar

In [3]:
from num2words import num2words

def numero_a_texto(numero):
    # Separar la parte entera de la parte decimal
    parte_entera, parte_decimal = str(numero).split(',')
    
    # Convertir la parte entera a texto
    texto_parte_entera = num2words(int(parte_entera.replace('.', '')), lang='es')
    
    # Convertir la parte decimal a texto
    texto_parte_decimal = f"{int(parte_decimal):02d}/100"
    
    # Formatear el resultado
    resultado = f"{texto_parte_entera} {texto_parte_decimal}"
    
    # Capitalizar la primera letra
    resultado = resultado.capitalize()
    
    return resultado

# Ejemplo de uso
numero = "252352,56"
texto = numero_a_texto(numero)
print(texto)

Doscientos cincuenta y dos mil trescientos cincuenta y dos 56/100

<table>
    <thead>
        <th> No </th>
        <th> Partida </th>
        <th> ID </th>
        <th> DESCRIPCION  </th>
        <th> UNIDAD  </th>
        <th> CANTIDAD  </th>
        <th> P.U.  </th>
        <th> TOTAL BS  </th>
    </thead>
    <tbody>
        <tr>
            <td>   1 </td>
            <td>   39700 </td>
            <td>    LOOP 21: 11084 </td>
            <td>   CONECTOR ESTANDAR </td>
            <td>   Pza </td>
            <td>   42</td>
            <td>   157.92</td>
            <td>   6632.64</td>
        </tr>
    </tbody>

</table>